@model IEnumerable<MVC_Web_Forms.Models.Doctor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-striped">
    <tr>
        <th>@Html.DisplayNameFor(x => x.id)</th>
        <th>@Html.DisplayNameFor(x => x.name)</th>
        <th>@Html.DisplayNameFor(x => x.speciality)</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(x => item.id)</td>
            <td>@Html.DisplayFor(x => item.name)</td>
            <td>@Html.DisplayFor(x => item.speciality)</td>
        </tr>
    }

</table>